 PUSHI 1  PUSHN 5  PUSHI 10  PUSHI 15 START  PUSHGP PUSHI 1 PADD PUSHI 1 PUSHI 1 STOREN   PUSHGP PUSHI 1 PADD PUSHI 2 PUSHI 2 STOREN   PUSHGP PUSHI 1 PADD PUSHI 2 LOADN  PUSHG 6 SUP  PUSHI 2 PUSHI 1 SUP  ADD  PUSHGP PUSHI 1 PADD PUSHI 2 LOADN  PUSHG 6 SUP  PUSHI 2 PUSHI 1 SUP  MUL SUB  JZ else0 PUSHI 1 WRITEI  JUMP fimif0 else0: PUSHI 2 WRITEI fimif0:  PUSHG 6 WRITEI  STOP