int a=3; int b=3; int c=2; int d=4; int e[5]; BEGIN e[2]=33; if(e[2]>b){print e[2]; if(b>c){print 3;}}else{print 4;}print c; 
int a=5; BEGIN if(2>3 || a>2*2){print 1;}print 2;
int a=1; int b[5]; int c=10; int d=15; BEGIN b[1]=1; b[2]=2; if(b[2]>c || 2>1){print 1;}else{print 2;}print c;                                                        