PUSHI 0  PUSHI 1  PUSHI 0   PUSHI 0 JUMP potenciaend potencia: PUSHI 23 STOREG 0 READ ATOI STOREG 1  PUSHG 1 WRITEI   iniciociclo0: PUSHG 1 PUSHI 3 INF  JZ  fimciclo0 PUSHG 1 WRITEI   PUSHG 1 PUSHI 1 ADD  STOREG 1 JUMP  iniciociclo0 fimciclo0: PUSHG 1 STOREG 3 RETURN potenciaend : START  PUSHI 2 PUSHI 1 SUP  JZ fimif0 PUSHI 23 WRITEI   PUSHA potencia CALL PUSHG 3 STOREG 2  PUSHG 2 WRITEI fimif0: STOP